/* Buttons */
.btn {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  text-decoration: none !important;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1;
  padding: 6px 10px;
  cursor: pointer;
  box-shadow: 0 0 12px 0px rgba(0,0,0,0);
  margin: 0 5px;
  transition: all 200ms linear;
  outline: none !important;
}
.btn:hover,
.btn:active {
  box-shadow: 0 10px 12px -8px rgba(0,0,0,0.12);
}
.btn-white {
  color: #fff;
  border-color: #fff;
}
.btn-white:hover,
.btn-white:active {
  color: #00A7FF;
  background-color: #fff;
}
.btn-white-secondary {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}
.btn-white-secondary:hover,
.btn-white-secondary:active {
  color: #00A7FF;
  background-color: rgba(255, 255, 255, 1);
}
.btn-white:disabled,
.btn-white[disabled],
.btn-white:disabled:hover,
.btn-white[disabled]:hover,
.btn-white-secondary:disabled,
.btn-white-secondary[disabled],
.btn-white-secondary:disabled:hover,
.btn-white-secondary[disabled]:hover {
  color: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
  cursor: not-allowed;
  background-color: transparent;
  box-shadow: 0 0 12px 0px rgba(0,0,0,0);
}